<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header page-scroll">
      <a class="navbar-brand page-scroll" href="#page-top"><img class="brand-img" alt="Codejure" src="/img/logo.svg"/></a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li class="nav-item">
          <a class="page-scroll" href="#services">Services</a>
        </li>
        <li class="nav-item">
          <a class="page-scroll" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="page-scroll" href="#team">Team</a>
        </li>
        <li class="nav-item">
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">Conjuring The Spirit Of Computer</div>
      <div class="intro-heading"><img class="main-image" alt="" src="/img/header.svg"/></div>
      <a href="#services" class="page-scroll tell-more">Tell Me<br>More</a>
    </div>
  </div>
</header>
<!--
     {% for page in site.pages %}
     {% if page.title %}<a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>{% endif %}
     {% endfor %}
   -->

