<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Being Primarily Programming enthusiasts, We crave for quality code, robust security and not the least attractive UX. We offer web solutions based on Django and Python.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x service-logo"></i>
                        <i class="fa fa-code fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Elegant Code</h4>
                    <p class="text-muted">Python is one of the most popular programming languages ever made. It is fast, reliable and semantically beautiful. It is the main weapon in our arsenal.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x service-logo"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">For front-end, we use latest web technologies. HTML5, CSS3 and Javascript. Nowadays, smartphones and tablets are so powerful that from browsing to manage website, everything can be done from these devices. We offer full responsiveness throughout the web apps we made.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x service-logo"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">We are very serious about security. Django historically more secure than any PHP framework so we are already one step forward.</p>
                </div>
            </div>
        </div>
    </section>
